.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 3px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Nav-icon {
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent !important;
  border-color: transparent !important;
  outline: none !important;
}

.Nav-icon .glyphicon {
  color: #00A000;
  font-size: 25px;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.App .App-header .Button button {
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  margin: 5px;
}

.App .title > span {
  display: inline-block;
  width: 110%;
  margin-left: -4%;
}

.App-body {
  margin-top: 150px;
}

.App-body .bg-container {
  width: 100%;
  height: 100%;
  background-image: url("../images/bg.png");
  background-size: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
  /*opacity: .1;*/
}

.App-body .route-container {
  opacity: .9;
}

.download-btn {
  margin-right: 20px;
}
/*.App-body .bg-container .bg {*/
  /*width: 100%;*/
  /*position: absolute;*/
  /*left: 0;*/
  /*!*z-index: -1;*!*/
  /*opacity: .1;*/
/*}*/