.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Nav-icon {
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent !important;
  border-color: transparent !important;
  outline: none !important;
}

.Nav-icon .glyphicon {
  color: #00A000;
  font-size: 25px;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}